@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROG 455 - Application Design</h1>
    <p class="lead">This application will host any applicable weekly assignments</p>
    <p style="visibility: hidden"><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Week Two </h2>
        <p>
            Car displays controlled via various JS implementaions
        </p>
        <p class="btn btn-default"> @Html.ActionLink("Week Two", "Cars", "Home") </p>
        <br />
        <p class="btn btn-default">
            <a href="https://github.com/mcdonaldduncan/ConsoleServiceApp" target="_blank"> Part 2: Console Service App </a>
        </p>
    </div>
    
</div>